.about {
    height: 90vh;
    background-color: $color-grey-light-1;
    @media only screen and (max-width: $bp-medium) {
        width: 100vw;
    }

    &__content {
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &__pictures {
        width: 45%;
        position: relative;
        transform: translateY(-7rem);
        padding: 0 2rem;

        @media only screen and (max-width: $bp-medium) {
            display: none;
        }
    }

    &__img {
        width: 55%;
        box-shadow: 0 2rem 5rem rgba(#000, 0.4);
        border-radius: 0.2rem;
        position: absolute;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 1.2rem;

        &--1 {
            right: 1.7rem;
            top: 2rem;

            @media only screen and (max-width: $bp-large) {
                right: 2rem;
            }
        }

        &--2 {
            left: 20%;
            top: 8rem;
            @media only screen and (max-width: $bp-large) {
                left: 0%;
                top: 6rem;
            }
        }

        &--3 {
            left: 0;
            top: -2rem;
            z-index: -1;
        }

        &:hover {
            outline: 0.5rem solid $color-secondary;
            transform: scale(1.05) translateY(-0.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-secondary, 0.5);
            z-index: 20;
        }
    }

    &__text {
        width: 45%;
        margin-left: 2rem;
        padding: 0 2rem;

        @media only screen and (max-width: $bp-large) {
            width: 100vw;
            margin: 0;
            padding: 0;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }

        @media only screen and (max-width: $bp-small) {
            padding: 0;
            margin-left: 0;
        }
    }

    &__text p {
        font-size: 1.2rem;
        font-style: italic;
        margin-bottom: 2rem;

        @media only screen and (max-width: $bp-large) {
            text-align: center;
            padding: 2rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 1.5rem;
            padding: 1.5rem;
        }
    }
}
