*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-size: 62.5%;
}

.main {
    width: calc(100vw - 10rem);
    margin-left: 10rem;

    @media only screen and (max-width: $bp-small) {
        width: 100vw;
        margin-left: 0;
    }
}
