.section-education {
    height: min-hight;
}

.education {
    background: $color-grey-light-1;
    padding: 5rem 0;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__item {
        background-color: $color-light;
        margin: 2rem;
        width: 43%;
        height: 25rem;
        padding: 2rem;
        font-size: 1.5rem;
        box-shadow: $main-shadow;
        position: relative;
        @media only screen and (max-width: $bp-large) {
            width: 80%;
        }

        @media only screen and (max-width: $bp-small) {
            width: 90%;
        }
    }
}
