.experience {
    height: min-content;
    width: 100%;

    @media only screen and (max-width: $bp-small) {
        width: 100vw;
    }

    &__list {
        background-color: $color-grey-light-1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
        font-size: 2rem;
    }

    &__responsability {
        font-size: 1.2rem;
        margin: 1rem 4rem;
        word-spacing: 0.5rem;

        @media only screen and (max-width: $bp-small) {
            margin: 0;
            padding: 2rem;
        }
    }
}
