.header {
    background: linear-gradient($color-primary-dark, $color-primary);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10rem;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-small) {
        transform: translateX(-10rem);
        top: 4rem;
    }

    & a {
        text-decoration: none;
        display: block;
        color: $color-secondary;
        font-size: 1rem;
    }
}

.logo {
    text-align: center;
    padding: 2rem;
}

.nav {
    & ul {
        list-style: none;
    }

    & a {
        padding: 1rem;

        & .icon {
            margin-right: 0.8rem;
        }

        &:hover {
            background-color: $color-grey-dark-2;
            color: $color-light;
        }
    }
}

.header-show {
    transform: translateX(0);
}
