.home {
    display: flex;
    height: 100vh;

    @media only screen and (max-width: $bp-medium) {
        width: 100vw;
        flex-direction: column;
    }

    &__image {
        height: 100%;
        width: 72%;
        background-image: linear-gradient(rgba($color-secondary, 0.5), rgba($color-secondary, 0.2)),
            url('https://images.pexels.com/photos/1714208/pexels-photo-1714208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-size: cover;
        background-position: center;

        @media only screen and (max-width: $bp-large) {
            width: 60%;
            padding-bottom: 0;
        }
        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }
    }

    &__personal {
        background: $color-secondary;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2rem;
        width: 28%;

        @media only screen and (max-width: $bp-large) {
            padding: 1rem;
            width: 40%;
        }
        @media only screen and (max-width: $bp-medium) {
            width: 100%;
        }
    }

    &__details {
        display: flex;
        margin-bottom: 2rem;
        align-items: center;
    }

    &__icon {
        font-size: 1.5rem;
        margin-right: 0.5rem;
        color: $color-light;
    }

    &__responsive {
        @media only screen and (max-width: $bp-medium) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

.menuIcon {
    font-size: 2.2rem;
    color: $color-light;
    position: fixed;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    display: none;

    &:hover {
        font-size: 2.6rem;
    }

    @media only screen and (max-width: $bp-small) {
        display: block;
    }
}
