.section-projects {
    height: min-content;
    width: 100%;
}

.projects {
    background-color: $color-grey-light-1;
    height: 100%;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-medium) {
        padding-top: 0;
        padding-bottom: 3rem;
        justify-content: center;
    }
}
.project {
    margin-top: 3rem;
    width: 17rem;
    height: 25rem;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
        font-size: 1.6rem;
    }

    &__side {
        border-radius: 0.5rem;
        box-shadow: $main-shadow;
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 100%;

        &--front {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--back {
            background-color: $color-grey-light-1;
            padding: 2rem 0;
            transform: translateY(100%);
            display: none;
        }
    }

    &__details {
        font-size: 1rem;
        padding: 0 2rem;
        margin-left: 2rem;
        height: 60%;
        width: calc(100% - 4rem);
        border-bottom: 1px solid rgba($color-secondary, 0.15);
    }

    &__link {
        height: 20%;
        width: 100%;
        font-size: 2rem;
        color: $color-secondary;
        display: flex;
        align-items: center;
        margin-left: 3rem;

        &:hover {
            color: $color-primary-dark;
        }
    }

    &__source {
        padding: 0.5rem 1rem;
        cursor: pointer;
        background-color: $color-secondary;
        color: $color-grey-light-1;
        position: absolute;
        bottom: 5rem;
        left: 4rem;
        opacity: 1;
        transition: all 0.3s;
        display: none;

        &:hover {
            background: $color-primary-dark;
            font-size: 1.2rem;
        }
    }

    &__img {
        width: 100%;
        height: 65%;
        object-fit: cover;
    }

    &__heading {
        height: 20%;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        align-items: center;

        & h2 {
            font-size: 1.6rem;
            color: $color-secondary;
        }
    }

    &__icon {
        font-size: 1.6rem;
        color: $color-secondary;
        cursor: pointer;
        transition: all 0.3s;
        backface-visibility: hidden;

        &:hover {
            font-size: 2rem;
        }
    }

    &__text {
        height: 30%;
        color: $color-grey-dark-1;
        padding: 1rem;
    }
}

.link-icon {
    margin-top: 1.2rem;
    font-size: 3.5rem;
}
