%heading {
    font-family: $font-display;
    font-weight: 400;
    color: $color-secondary;
}

.heading-1 {
    @extend %heading;
    font-size: 2rem;
    color: $color-grey-light-1;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 2.5rem;
    font-style: italic;
    line-height: 1;
    padding: 2rem;
    text-transform: uppercase;
    color: $color-secondary;

    @media only screen and (max-width: $bp-small) {
        font-size: 2rem;
        text-align: center;
    }
}
.heading-3 {
    @extend %heading;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1.5;
    line-height: 1.8;

    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-secondary;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 1rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 1.8rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 1rem;
    }
}

.heading-4 {
    @extend %heading;
    font-size: 1.2rem;

    &--light {
        color: $color-grey-light-1;
    }

    &--dark {
        color: $color-grey-dark-1;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 1rem;
    }
}

.subheading {
    font-size: 1.6rem;

    @media only screen and (max-width: $bp-large) {
        font-size: 2.5rem;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 2.2rem;
    }
}

.img-heading {
    display: block;
    text-transform: uppercase;
    margin-top: 1rem;
}
