@import './varables';
@import './base';
@import './typography';
@import './header';
@import './utilities';
@import './home';
@import './sectionHeading';
@import './about';
@import './experience';
@import './projects';
@import './skills';
@import './education';
