.mainWrapper {
    flex: 1;
    height: 100vh;
    border-right: 0.5px solid #e2dfdf;
    background: linear-gradient(to bottom, #b28451, #c69963);

    & a {
        text-decoration: none;
        color: #101d2c;
        font-size: 1rem;
    }
}
