:root {
    /*Colors*/
    --color-primary: #c69963;
    --color-primary-dark: #b28451;
    --color-secondary: #101d2c;
    --color-light: #fcfcfc;
    --color-grey-light-1: #f9f7f6;
    --color-grey-light-2: #aaa;
    --color-grey-dark-1: #54483a;
    --color-grey-dark-2: #6d5d4b;
    /*Fonts*/
    --font-primary: 'Nunito', sans-serif;
    --font-display: 'Josefin Sans', sans-serif;
    /*Responsive Breakpoints*/
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-primary);
    color: var(--color-grey-dark-2);
    font-size: 62.5%;
}
.app {
    width: 100vw;
}

/*Header*/
.header {
    background: linear-gradient(var(--color-primary-dark), var(--color-primary));
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10rem;
    display: flex;
    flex-direction: column;
}

.header a {
    text-decoration: none;
    display: block;
    color: var(--color-secondary);
    font-size: 1rem;
}

.logo {
    text-align: center;
    padding: 1rem;
}

.nav ul {
    list-style: none;
}

.nav a {
    padding: 1rem;
}

.nav a .icon {
    margin-right: 0.8rem;
}
.nav a:hover {
    background-color: var(--color-grey-dark-2);
    color: var(--color-light);
}

.home {
}
