.header {
  background: linear-gradient(#b28451, #c69963);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 10rem;
  display: flex;
  flex-direction: column; }
  .header a {
    text-decoration: none;
    display: block;
    color: #101d2c;
    font-size: 1rem; }

.logo {
  text-align: center;
  padding: 1rem; }

.nav ul {
  list-style: none; }

.nav a {
  padding: 1rem; }
  .nav a .icon {
    margin-right: 0.8rem; }
  .nav a:hover {
    background-color: #6d5d4b;
    color: #fcfcfc; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif;
  color: #6d5d4b;
  font-size: 62.5%; }
