@import '../../../styles/varables';

.nav {
    height: 70%;
    & ul {
        height: 100%;

        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    & li {
        margin-top: 1rem;
        min-width: 100%;
    }

    & a {
        display: block;
        padding: 1rem;
        transition: all 0.3s;

        & .icon {
            margin-right: 0.8rem;
        }

        &:hover {
            background-color: $color-secondary;
            box-shadow: $main-shadow;
            color: $color-light;
            font-size: 1.2rem;
        }
    }
}
